# Enable caching for WebP images
<IfModule mod_headers.c>
  <FilesMatch "\.(webp)$">
    Header set Cache-Control "max-age=31536000, public"
    Header set Expires "max-age=31536000, public"
  </FilesMatch>
</IfModule>

# Disable caching for HTML files
<IfModule mod_headers.c>
  <FilesMatch "\.(html)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>